.handle-search-box {
  display: flex;
  justify-content: space-between;
}

.handle-search-input {
  width: 60%;
}

.handle-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.handle-profile-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.handle-profile {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 25px;
}

.handle-profile-btn {
  min-height: none;
  min-width: none;
  padding: 8px;
}
