.new-group-modal-content {
  background-color: var(--page-color);
  margin: 100px auto;
  padding: 20px;
  padding-top: 60px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  position: relative;
  color: #ffffff80;
}
